# DOZZLE_REMOTE_AGENT is a comma-separated list of agent endpoints.
# Format: [Host IP Address]:7007
# Example: 192.168.10.2:7007,192.168.10.3:7007,192.168.10.4:7007
DOZZLE_REMOTE_AGENT=

# TUNNEL_TOKEN is the token from Cloudflare Zero Trust Dashboard for the Cloudflared Tunnel.
TUNNEL_TOKEN=
